*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body{
  background-color: white;
    color: white;
}

#encabezado{
    width: 100%;
    height: 50px;
    background: #2c2b2b;
    font-size: 18px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    z-index: 50;
}

.separador_encabezado{
    margin: 0 5px;
}

.contenedor_centrado_padre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_centrado_hijo{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
}

#encabezado h5{
    font-weight: 400;
}

header{
    width: 100%;
    background: #2c2b2b;
    height: 400px;
    background-image: url("../imagenes/estrellas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    z-index: 49;
}


h1{
    font-size: 118px;
    font-weight: 700;
    text-align: center;
}

#datos_experimento{
    width: 100%;
    height: 400px;
    background-color: #497a7f;
    z-index: 48;
    background-image: url("../imagenes/experimento.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#datos_experimento h2{
    font-size: 36px;
    line-height: 60px;
    font-weight: 600;
}

#datos_experimento h2::after{
    content: '';
    border-bottom: 4px solid #0cbaba;
    width: 100px;
    display: block;
    margin: auto;
}

#titulo_experimento {
    text-align: center;
}

#datos_experimento_hijo{
    height: 100%;
}

#datos_experimento_hijo2{
    padding: 80px 0 60px 0;
}


/*

#contenedor{
  Background-color: rgba(0,0,0, 0.8);
  margin: 5em;
  padding: 2em;
}
.imagen{
    text-align: center;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#datos{
    background-color: rgba(255,255,255,0.2);
    border: 2px solid gray;
    padding: 20px;
    height: 180px;
}
#animacion{
    background-color: rgba(0,0,0,0.5);
    border: 2px solid gray;
    height: 450px;
    padding: 20px;
}
#sirio{
    height: 20%;
}
#tierra{
    margin-left: 46%;
    margin-top: 40px;
    height: 40%;
}
#luna{
    margin-left: 85%;
    height: 30%;
}
a {
	font:bold 25px Verdana;
	text-decoration:none;
	color: white;
	border: 2px solid white;
	padding: 10px 20px 10px 20px;
	transition: background .5s, color .5s;
}

a:hover{
	background: white;
	color: black;
}
*/
